@CHARSET "UTF-8";

body {
    color: #333333;
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

#header {
    width: 100%;
    height: 70px;
    background-color: #333333;
}

#content {
    width: 94%;
    margin-top: 15px;
    padding-left: 3%;
}

h1 {
    font-size: 24px;
    display: inline;
}

h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #24738e;
}

table, tr, th, td {
    border: 1px solid #cccccc;
}

table {
    width: 100%;
    table-layout: fixed;
}

th {
    width: 26%;
    padding: 10px 2%;
}

td {
    width: 66%;
    padding: 10px 2%;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

#footer {
    text-align: center;
}

#flush_success {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #155724;
    background-color: #d4edda;
}

#flush_error {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #721c24;
    background-color: #f8d7da;
}

tr.row1 {
        background-color: #f2f2f2;
}
tr.row0 {
        background-color: #ffffff;
}

select {
    height: 30px;
}

#header_menu {
    width: 57%;
    padding-top: 17px;
    padding-left: 3%;
    display: inline-block;
}

#right_header_menu {
    color: #cccccc;
    width: 36%;
    padding-right: 3%;
    text-align: right;
    display: inline-block;
}

#header a {
    color: #eeeeee;
}

h1 a {
    color: #eeeeee;
}
table#post_list th {
    font-weight: bold;
    padding: 10px 2%;
}

table#post_list .post_store_name {
    width: 20%;
    padding: 10px 2%;
}
table#post_list .post_created_at {
    width: 20%;
}

table#post_list .post_title {
    width: 37%;
}

table#post_list .post_action {
    width: 13%;
}
pre {
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

.imagePreview {
    width: 300px;
    height: 200px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
}

.thumbnailPreview {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*/////////////////////////////////////////////////
//twitter風チャット画面(会話方式)を記事に表示する方法
//引用元: https://nakox.jp/web/coding/chat_twitter_css
/////////////////////////////////////////////////*/
.twitter__container {
  padding: 0;
  background: #ffffff;
  overflow: hidden;
  margin: 20px auto;
  font-size: 80%;
  border: solid 1px #eeeeee;
}

.twitter__container a {
  color: #58aeed;
}

/* タイトル部分 */
.twitter__container .twitter__title {
  background: #58aeed;
  padding: 10px;
  text-align: center;
  font-size: 150%;
  color: #ffffff;
}

.twitter__container .twitter__title .twitter-logo {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  display: block;
  background: url(svg/twitter-logo.svg) center no-repeat;
}

.twitter__container .twitter__title span {
  font-size: 20px;
}

/* タイムライン部分 */
.twitter__container .twitter__contents {
  overflow: hidden;
  position: relative;
  line-height: 135%;
}

.twitter__container .twitter__contents.scroll {
  height: 500px;
  overflow-y: scroll;
}

.twitter__container .twitter__block {
  width: 100%;
  display: block;
  padding: 10px;
  margin-bottom: 5px;
  border-bottom: solid 1px #eeeeee;
  overflow: hidden;
}

.twitter__container .twitter__block:last-child {
  border-bottom: solid 0px;
}
/* アイコン画像 */
.twitter__container .twitter__block figure {
  width: 50px;
  padding: 0;
  margin: 0;
  float: left;
  width: 50px;
}
  /* 正方形を用意 */
.twitter__container .twitter__block figure img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
/* コメントエリア */
.twitter__container .twitter__block-text {
  margin: 0;
  position: relative;
  margin-left: 60px;
  padding-right: 10px;
}

.twitter__container .twitter__block-text .name {
  font-weight: bold;
}

.twitter__container .twitter__block-text .name .name_reply {
  color: #8a9aa4;
  margin-left: 10px;
}

.twitter__container .twitter__block-text .date {
  position: absolute;
  top: 0;
  right: 20px;
  text-align: right;
  color: #8a9aa4;
}
/* 本文 */
.twitter__container .twitter__block-text .text {
  margin: 5px 0;
}
/* 画像を貼る場合 */
.twitter__container .twitter__block-text .text .in-pict img {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  margin: 5px 0;
  width: 95%;
  height: 200px;
  object-fit: cover;
}

/*///////////////////////////////////////////
//埋め込みアイコン
////////////////////////////////////////////*/

.twitter__container .twitter__icon br{
  display: none;
}

.twitter__container .twitter__icon .twitter-bubble {
  width: 14px;
  height: 14px;
  display: block;
  padding-left: 20px;
  background: url("svg/twitter-bubble.svg") left no-repeat;
  width: 20%;
  float: left;
  color: #8a9aa4;
}

.twitter__container .twitter__icon .twitter-heart {
  width: 14px;
  height: 14px;
  display: block;
  padding-left: 20px;
  background: url("svg/twitter-heart.svg") left no-repeat;
  width: 20%;
  float: left;
  color: #8a9aa4;
}

.twitter__container .twitter__icon .twitter-loop {
  width: 14px;
  height: 14px;
  display: block;
  padding-left: 20px;
  background: url("svg/twitter-loop.svg") left no-repeat;
  width: 20%;
  float: left;
  color: #8a9aa4;
}
